<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juane.peapyoung.dao.ArticlesDao">
    <insert id="saveArticles">
        insert into articles (name,position,date,takerId,avator,status,owner)
        values(#{name},#{position},#{date},#{takerId},#{avator},#{status},#{owner});
    </insert>

    <update id="updateArticles">
        update articles
        set name = #{name},position = #{position},date = #{date},takerId = #{takerId},
        owner = #{owner},status = #{status}
        where id = #{id}
    </update>

    <select id="selectArticlesByConditions" resultType="com.juane.peapyoung.entity.Articles">
        select * from articles
        <where>
            <if test="name != null and name !=''">
                and name like #{name}
            </if>
            <if test="time != null and time != ''">
                and time = #{time}
            </if>
            <if test="position != null and position != ''">
                and position like #{position}
            </if>
        </where>
    </select>

    <select id="saveArticlesByOwner" resultType="java.lang.Integer">
        insert into articles(name,position,date,avator,status,owner)
        values (#{name},#{position},#{date},#{avator},#{1},#{owner});
    </select>

</mapper>